<!-- Flexible time -->
<div class="formRow">
    <input type="radio" name="timeModeSelector" value="flexibleTimeRadio" id="flexibleTimeRadio" />
    <label for="flexibleTimeRadio"><span>My schedule is flexible:</span></label>
    <div class="flexibleTimeSelectorContainer" id="flexibleTimeSelectorContainer" style="display: none;">
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Sun" />
            <span class="daytime-label disabled"><label for="day-Sun">Sunday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="sun" class="sun timeSelector" disabled="disabled">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00">5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="sunTolerance" class="sun toleranceSelector" disabled="disabled">
                <option value="15">15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Mon" checked="checked" />
            <span class="daytime-label"><label for="day-Mon">Monday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="mon" class="mon timeSelector">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00" SELECTED>5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="monTolerance" class="mon toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Tues" checked="checked" />
            <span class="daytime-label"><label for="day-Tues">Tuesday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="tue" class="tue timeSelector">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00" SELECTED>5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="tueTolerance" class="tue toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Wed" checked="checked" />
            <span class="daytime-label"><label for="day-Wed">Wednesday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="wed" class="wed timeSelector">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00" SELECTED>5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="wedTolerance" class="wed toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Thu" checked="checked" />
            <span class="daytime-label"><label for="day-Thu">Thursday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="thu" class="thu timeSelector">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00" SELECTED>5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="thuTolerance" class="thu toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Fri" checked="checked" />
            <span class="daytime-label"><label for="day-Fri">Friday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="fri" class="fri timeSelector">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00" SELECTED>5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="friTolerance" class="fri toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Sat" />
            <span class="daytime-label disabled"><label for="day-Sat">Saturday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="sat" class="sat timeSelector" disabled="disabled">
                <option value="00:00">0:00 AM</option>
                <option value="00:15">0:15 AM</option>
                <option value="00:30">0:30 AM</option>
                <option value="00:45">0:45 AM</option>
                <option value="01:00">1:00 AM</option>
                <option value="01:15">1:15 AM</option>
                <option value="01:30">1:30 AM</option>
                <option value="01:45">1:45 AM</option>
                <option value="02:00">2:00 AM</option>
                <option value="02:15">2:15 AM</option>
                <option value="02:30">2:30 AM</option>
                <option value="02:45">2:45 AM</option>
                <option value="03:00">3:00 AM</option>
                <option value="03:15">3:15 AM</option>
                <option value="03:30">3:30 AM</option>
                <option value="03:45">3:45 AM</option>
                <option value="04:00">4:00 AM</option>
                <option value="04:15">4:15 AM</option>
                <option value="04:30">4:30 AM</option>
                <option value="04:45">4:45 AM</option>
                <option value="05:00">5:00 AM</option>
                <option value="05:15">5:15 AM</option>
                <option value="05:30">5:30 AM</option>
                <option value="05:45">5:45 AM</option>
                <option value="06:00">6:00 AM</option>
                <option value="06:15">6:15 AM</option>
                <option value="06:30">6:30 AM</option>
                <option value="06:45">6:45 AM</option>
                <option value="07:00">7:00 AM</option>
                <option value="07:15">7:15 AM</option>
                <option value="07:30">7:30 AM</option>
                <option value="07:45">7:45 AM</option>
                <option value="08:00">8:00 AM</option>
                <option value="08:15">8:15 AM</option>
                <option value="08:30">8:30 AM</option>
                <option value="08:45">8:45 AM</option>
                <option value="09:00">9:00 AM</option>
                <option value="09:15">9:15 AM</option>
                <option value="09:30">9:30 AM</option>
                <option value="09:45">9:45 AM</option>
                <option value="10:00">10:00 AM</option>
                <option value="10:15">10:15 AM</option>
                <option value="10:30">10:30 AM</option>
                <option value="10:45">10:45 AM</option>
                <option value="11:00">11:00 AM</option>
                <option value="11:15">11:15 AM</option>
                <option value="11:30">11:30 AM</option>
                <option value="11:45">11:45 AM</option>
                <option value="12:00">Noon:00</option>
                <option value="12:15">Noon:15</option>
                <option value="12:30">Noon:30</option>
                <option value="12:45">Noon:45</option>
                <option value="13:00">1:00 PM</option>
                <option value="13:15">1:15 PM</option>
                <option value="13:30">1:30 PM</option>
                <option value="13:45">1:45 PM</option>
                <option value="14:00">2:00 PM</option>
                <option value="14:15">2:15 PM</option>
                <option value="14:30">2:30 PM</option>
                <option value="14:45">2:45 PM</option>
                <option value="15:00">3:00 PM</option>
                <option value="15:15">3:15 PM</option>
                <option value="15:30">3:30 PM</option>
                <option value="15:45">3:45 PM</option>
                <option value="16:00">4:00 PM</option>
                <option value="16:15">4:15 PM</option>
                <option value="16:30">4:30 PM</option>
                <option value="16:45">4:45 PM</option>
                <option value="17:00">5:00 PM</option>
                <option value="17:15">5:15 PM</option>
                <option value="17:30">5:30 PM</option>
                <option value="17:45">5:45 PM</option>
                <option value="18:00">6:00 PM</option>
                <option value="18:15">6:15 PM</option>
                <option value="18:30">6:30 PM</option>
                <option value="18:45">6:45 PM</option>
                <option value="19:00">7:00 PM</option>
                <option value="19:15">7:15 PM</option>
                <option value="19:30">7:30 PM</option>
                <option value="19:45">7:45 PM</option>
                <option value="20:00">8:00 PM</option>
                <option value="20:15">8:15 PM</option>
                <option value="20:30">8:30 PM</option>
                <option value="20:45">8:45 PM</option>
                <option value="21:00">9:00 PM</option>
                <option value="21:15">9:15 PM</option>
                <option value="21:30">9:30 PM</option>
                <option value="21:45">9:45 PM</option>
                <option value="22:00">10:00 PM</option>
                <option value="22:15">10:15 PM</option>
                <option value="22:30">10:30 PM</option>
                <option value="22:45">10:45 PM</option>
                <option value="23:00">11:00 PM</option>
                <option value="23:15">11:15 PM</option>
                <option value="23:30">11:30 PM</option>
                <option value="23:45">11:45 PM</option>
            </select>
            <span class="plus-minus-label">
					&plusmn;
					</span>
            <select name="satTolerance" class="sat toleranceSelector" disabled="disabled">
                <option value="15">15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
    </div>
</div>
<!--End of form_row div-->
