<!-- Flexible time -->
<div class="formRow">
    <input type="radio" name="timeModeSelector" value="flexibleTimeRadio" id="flexibleTimeRadio" />
    <label for="flexibleTimeRadio"><span>My schedule is flexible:</span></label>
    <div class="flexibleTimeSelectorContainer" id="flexibleTimeSelectorContainer" style="display: none;">
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Sun" />
            <span class="daytime-label disabled"><label for="day-Sun">Sunday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="sun" class="sun timeSelector" disabled="disabled">
                <option value="00:00">0:00 AM</option>
            </select>
            <span class="plus-minus-label">
                    &plusmn;
                    </span>
            <select name="sunTolerance" class="sun toleranceSelector" disabled="disabled">
                <option value="15">15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
        <div class="daytimeselector-container">
            <input type="checkbox" class="daytimecheck" id="day-Mon" checked="checked" />
            <span class="daytime-label"><label for="day-Mon">Monday</label></span>
            <span class="daytime-label">I leave at:</span>
            <select name="mon" class="mon timeSelector">
                <option value="00:00">0:00 AM</option>
            </select>
            <span class="plus-minus-label">
                    &plusmn;
                    </span>
            <select name="monTolerance" class="mon toleranceSelector">
                <option value="15" SELECTED>15 mins</option>
                <option value="30">30 mins</option>
                <option value="45">45 mins</option>
            </select>
        </div>
    </div>
</div>
<!--End of form_row div-->
<script type="text/javascript" src="js/modernizr.js"></script>
    <!-- Modernizer -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Jquery -->
    <script type="text/javascript" src="js/html5lightbox.js"></script>
    <!-- HTML -->
    <script type="text/javascript" src="js/scrolly.js"></script>
    <!-- Parallax -->
    <script type="text/javascript" src="js/price-range.js"></script>
    <!-- Parallax -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- Script -->
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <!-- Date -->
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
    <!-- Time -->
    <script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
$( function(){
$('input[name=timeModeSelector]').change( function(){
        if( $(this).val() == 'flexibleTimeRadio'){
            $('#flexibleTimeSelectorContainer').show();
            $('#fixedTimeSelectorContainer').children('select').attr('disabled', 'disabled');
            $('#fixedTimeSelectorContainer').children('span').addClass('disabled');
        }
        else if( $(this).val() == 'fixedTimeRadio' ){
            $('#flexibleTimeSelectorContainer').hide();
            $('#fixedTimeSelectorContainer').children('select').removeAttr('disabled');
            $('#fixedTimeSelectorContainer').children('span').removeClass('disabled');
        }   
    } );
    
    $('.daytimecheck').change(function(){

        if( $('.daytimecheck:checked').length == 0 ){
            $(this).attr('checked', 'checked');
            return;
        }

        if( $(this).is(':checked') ){
            $(this).siblings('select').removeAttr('disabled');
            $(this).siblings('span').removeClass('disabled');
        }
        else{
            $(this).siblings('select').attr('disabled', 'disabled');
            $(this).siblings('span').addClass('disabled');
        }
    });
});

