<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.jpg" />
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css" />
    <!-- Style -->
    <!-- <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
    <!-- Responsive -->
    <link rel="stylesheet" href="css/colors.css" type="text/css" />
    <!-- color -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Date-->
    <link rel='stylesheet' href='/stylesheets/datepicker.css' />
    <!--Time-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-timepicker.min.css' />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- /.preloader -->
    <div id="preloader"></div>
    <div class="theme-layout">
        <!-- Header -->
        <header class="simple-header for-sticky white">
            <!-- Top bar -->
            <div class="top-bar">
                <div class="container">
                    <ul class="contact-item">
                        <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                        <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
                    </ul>
                    <div class="choose-language">
                        <a href="#" title="">EN</a>
                        <a href="#" title="">CH</a>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="container">
                    <!-- LOGO -->
                    <div class="logo">
                        <span><%= title %></span>
                        <strong>CITY CARPOOL</strong>
                    </div>
                    <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                    <nav>
                        <h1 class="nocontent outline">--- Main Navigation ---</h1>
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#" title="">HOME</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">ABOUT</a>
                                <ul>
                                    <li><a href="#" title="">Overview</a></li>
                                    <li><a href="#" title="">Q&A</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#" title="">SEARCH</a>
                            </li>
                            <li><a href="#" title="">CONTACT</a></li>
                            <li><a href="#" title=""><strong>Welcome, <%- user.name %></strong></a></li>
                            <li>
                                <a href="/logout" title="">
                                    <span><i class="fa fa-sign-out "></i> logout</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <section>
            <form id="new-route" class="form-group" role="form" method="post" action="/createRoute">
                <div class="container">
                    <div class="well">
                        <label for="DriverDeptDate">Departure Date</label>
                        <input type="text" class="datepicker" id="DriverDeptDate" name="DriverDeptDate">
                        <script>
                        $(function() {
                            $('#DriverDeptDate').datepicker();
                        });
                        </script>
                    </div>
                    <div class="well">
                        <label for="DriverDeptTime">Departure Time</label>
                        <input type="number" min="0" max="23" size="15" id="DriverDeptHour" name="DriverDeptHour"> &#58;
                        <select id="DriverDeptMin" name="DriverDeptMin">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <script>
                        // $(function() {
                        //     $('#DriverDeptTime').timepicker({
                        //         showMeridian: false,
                        //         template: 'dropdown',
                        //         showWidgetOnAddonClick: true,
                        //         icons: {
                        //             up: 'glyphicon glyphicon-chevron-up',
                        //             down: 'glyphicon glyphicon-chevron-down'
                        //         },
                        //         maxHours: 24
                        //     });
                        // });
                        </script>
                        <span type="number" class="plus-minus-label">&plusmn;</span>
                        <select id="TimeTolerance" name="TimeTolerance">
                            <option value="15" SELECTED>15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                        <span> mins</span>
                    </div>
                    <div class="well">
                        <label for="PostalCode">Departure PostCode</label>
                        <input type="text" id="PostalCode" name="PostalCode" placeholder="A0AA0A">
                    </div>
                    <div class="well">
                        <label for="deptpcoderange">Departure PostCode Range(km)</label>
                        <input type="number" min="1" max="5" size="15" id="deptpcoderange" name="deptpcoderange">
                    </div>
                    <div class="well">
                        <label for="PostalCode2">Arrival PostCode</label>
                        <input type="text" id="PostalCode2" name="PostalCode2" placeholder="A0AA0A">
                    </div>
                    <div class="well">
                        <label for="arripcoderange">Arrival PostCode Range(km)</label>
                        <input type="number" min="1" max="5" size="15" id="arripcoderange" name="arripcoderange">
                    </div>
                    <div class="well">
                        <label for="Occupancy">Occupancy</label>
                        <input type="number" min="1" max="10" size="15" id="Occupancy" name="Occupancy">
                    </div>
                    <div class="well">
                        <label for="Cost">Cost</label>
                        <input type="number" min="0" max="100" size="15" id="Cost" name="Cost">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="driverroute">Submit</button>
                </div>
            </form>
        </section>
        <!--End of form_row div-->
    </div>
    <!-- Script -->
    <script type="text/javascript" src="js/modernizr.js"></script>
    <!-- Modernizer -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Jquery -->
    <script type="text/javascript" src="js/html5lightbox.js"></script>
    <!-- HTML -->
    <script type="text/javascript" src="js/scrolly.js"></script>
    <!-- Parallax -->
    <script type="text/javascript" src="js/price-range.js"></script>
    <!-- Parallax -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- Script -->
    <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
    <!-- Date -->
    <script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
    <!-- Time -->
    <script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#new-route").submit(function(e) {

            var DriverDeptDate = $("#DriverDeptDate").val();
            var DriverDeptHour = $("#DriverDeptHour").val();
            var DriverDeptMin = $("#DriverDeptMin").val();
            var TimeTolerance = $("#TimeTolerance").val();
            var PostalCode = $("#PostalCode").val();
            var DeptPcodeRange = $("#deptpcoderange").val();
            var PostalCode2 = $("#PostalCode2").val();
            var Arripcoderange = $("#arripcoderange").val();
            var Occupancy = $("#Occupancy").val();
            var Cost = $("#Cost").val();
            // var AreaTolerance = $("#AreaTolerance").val();
            var data = {
                "drideptdate": DriverDeptDate,
                "dridepthour": DriverDeptHour,
                "drideptmin": DriverDeptMin,
                "timetol": TimeTolerance,
                "postcode": PostalCode,
                "deptpcoderange": DeptPcodeRange,
                "postcode2": PostalCode2,
                "arripcoderange": Arripcoderange,
                "occu": Occupancy,
                "cost": Cost,
                // "AreaTolerance": AreaTolerance
                "mintime": Number(DriverDeptHour) * 3600 + Number(DriverDeptMin) * 60 - Number(TimeTolerance) * 60,
                "maxtime": Number(DriverDeptHour) * 3600 + Number(DriverDeptMin) * 60 + Number(TimeTolerance) * 60
            };
            $.ajax({
                url: '/createRoute',
                // data: $("form").serialize(),
                type: 'post',
                data: data,
                success: function(data, status) {
                    if (status == 'success') {
                        //location.href = 'home';
                        location.href = 'driverRoutes';
                    }
                },
                error: function(data, status) {
                    if (status == 'error') {
                        location.href = 'createRoute';
                    }
                }
            });

            e.preventDefault();
        });
    });
    $(document).ready(function() {
        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000, //revolution
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
    });
    </script>
</body>

</html>
