<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.jpg"/>
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <!-- Style -->
    <!--  <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
    <!-- Responsive -->
    <link rel="stylesheet" href="/stylesheets/colors.css" type="text/css"/>
    <!-- color -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--Slides-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--Date-->
    <link rel='stylesheet' href='/stylesheets/datepicker.css'/>
    <!--Time-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-timepicker.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
    <!-- Header -->
    <header class="simple-header for-sticky white">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <ul class="contact-item">
                    <li><i class="fa fa-envelope-o"></i>yhuang10@lakeheadu.ca</li>
                    <li><i class="fa fa-mobile"></i>18071234567</li>
                </ul>
                <div class="choose-language">
                    <a href="#" title="">EN</a>
                    <a href="#" title="">CH</a>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <span><%= title %></span>
                    <strong>CITY CARPOOL</strong>
                </div>
                <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                <nav>
                    <h1 class="nocontent outline">--- Main Navigation ---</h1>
                    <ul>
                        <li>
                            <a href="/home" title="">HOME</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">SEARCH</a>
                            <ul>
                                <li><a href="/searchRoute" title="">Route</a></li>
                                <li><a href="/searchRoutine" title="">Routine</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title=""><strong>Welcome, <%- user.name %></strong></a></li>
                        <li>
                            <a href="/myProfile" title="">My profile</a>
                        </li>
                        <li>
                            <!--<a href="/myMessage" class="btn btn-default btn-lg btn-link " style="font-size:24px;">-->
                            <a onclick="removered()" href="/myMessage" title="">Route message
                                <!--<span class="glyphicon glyphicon-envelope" style="top:-15px;font-size:20px;">-->
                                <!-- status 为未读，有几个就有几个提示数量 -->
                                <% if(circle){%>
                                <%for(var i=0;i
                                <circle.length ;i++){%>
                                    <%if(circle[i].driverstatus == "1"){%>
                                    <span id="redcircle" class="fa fa-circle"></span>
                                    <%}%>
                                    <%}%>
                                    <%}%>
                                </circle.length>
                                <!--</span>-->
                            </a>
                        </li>
                        <li>
                            <!--<a href="/myMessage" class="btn btn-default btn-lg btn-link " style="font-size:24px;">-->
                            <a href="/myRoutineMessage" title="">Routine message
                                <!--<span class="glyphicon glyphicon-envelope" style="top:-15px;font-size:20px;">-->
                                <!-- status 为未读，有几个就有几个提示数量 -->
                                <span class="fa fa-circle"></span>
                                <!--</span>-->
                            </a>
                        </li>
                        <li>
                            <a href="/logout" title="">
                                <span><i class="fa fa-sign-out "></i> logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ShareCar</h1>
                        <i>An idea from city carpool</i>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 ">
                    <img class="img-responsive" src="/images/driverside.jpg" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Driver</h2>
                    <ul id="markdown-toc">
                        <li><a href="/createRoute">Create Specific Route</a></li>
                        <li><a href="/createRoutine" id="createRoutine">Create Routine</a></li>
                        <li><a href="/driverRoutes" id="driverRoutes">Manage Routes & Routines</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <img class="img-responsive" src="/images/riderside.jpg" alt="">
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2>Rider</h2>
                    <ul id="markdown-toc2">
                        <!-- <a href="/searchRoute" class="btn btn-link" role="button">Rider</a> -->
                        <li><a href="/searchRoute" id="searchRoute">Search</a></li>
                        <li><a href="/searchRoutine" id="searchRoutine">Search Routine</a></li>
                    </ul>
                </div>

            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <!--End of form_row div-->
</div>
<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script>
<!-- Modernizer -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Jquery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="js/html5lightbox.js"></script>
<!-- HTML -->
<script type="text/javascript" src="js/scrolly.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/price-range.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/script.js"></script>
<!-- Script -->
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<!-- Date -->
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
<!-- Time -->
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">
    function removered(e) {
        console.log("heheh");
        var element = document.getElementById("redcircle");
        var data = {
        };
//        element.parentNode.removeChild(element);
        $.ajax({
            url: '/home',
            // data: $("form").serialize(),
            type: 'post',
            data: data,
            success: function (data, status) {
                if (status == 'success') {
                    //location.href = 'home';
                    location.href = 'myMessage';
                }
            },
            error: function (data, status) {
                if (status == 'error') {
                    location.href = 'home';
                }
            }
        });
    }
    $(document).ready(function () {
        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000, //revolution
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
    });
</script>
</body>

</html>
