<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Krajee JQuery Plugins - &copy; Kartik</title>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/star-rating.css' />
    <script src="js/star-rating.js"></script>
<body>
<h1>Bootstrap Star Rating Example</h1>
<div class="container">
<form>
    <input id="input-21d" value="2" type="number" class="rating" min=0 max=5 step=0.5 data-size="sm">
    <br>
    <div class="clearfix"></div>
    <div class="form-group">
    <button type="submit" id class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
    </div>
</form>
<br>
<script>
    jQuery(document).ready(function () {
        $(".rating-kv").rating();
    });
</script>

</div>  
</body>
</html>
