<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.jpg"/>
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <!-- Style -->
    <!-- <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
    <!-- Responsive -->
    <!-- color -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--Date-->
    <link rel='stylesheet' href='/stylesheets/datepicker.css'/>
    <!--Time-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-timepicker.min.css'/>
    <!--Project-->
    <link rel='stylesheet' href='/stylesheets/project-style.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/js/jquery-validation/1.11.1/jquery.validate.min.css" type="text/css" rel="stylesheet"/>

</head>

<body>
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
    <!-- Header -->
    <header class="simple-header for-sticky white">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <ul class="contact-item">
                    <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                    <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
                </ul>
                <div class="choose-language">
                    <a href="#" title="">EN</a>
                    <a href="#" title="">CH</a>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <span><%= title %></span>
                    <strong>CITY CARPOOL</strong>
                </div>
                <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                <nav>
                    <h1 class="nocontent outline">--- Main Navigation ---</h1>
                    <ul>
                        <li>
                            <a href="/home" title="">HOME</a>
                        </li>
                        <li>
                            <a href="#" title="">ABOUT</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">SEARCH</a>
                            <ul>
                                <li><a href="/searchRoute" title="">Route</a></li>
                                <li><a href="#" title="">Home v2</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title="">CONTACT</a></li>
                        <li><a href="#" title=""><strong>Welcome, <%- user.name %></strong></a></li>
                        <li>
                            <a href="/logout" title="">
                                <span><i class="fa fa-sign-out "></i> logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <form id="new-route" class="form-group" role="form" method="post" action="/createRoutine">
            <div class="container">
                <div class="row">
                    <!-- Left Section -->
                    <div class="col-lg-12">
                        <h3>From Workplace to Home</h3>
                    </div>
                    <div class="col-lg-5">
                        <input type="hidden" id="radioFlag" value="1"/>
                        <script id="result" type="text/rawstring">
                           <%- routine %>
                        </script>
                        <div class="well">
                            <label for="from"><span>From:</span></label>
                            <input type="text" id="from"
                                   name="from" size="40px" placeholder="SearchBox" class="required">
                        </div>
                        <div class="well">
                            <label for="PostalCode"><span>Leave from:</span></label>
                            <input type="text" id="PostalCode"
                                   name="PostalCode" class="required">
                        </div>
                        <div class="well">
                            <label for="to"><span>To:</span></label>
                            <input type="text" id="to"
                                   name="to" size="40px" placeholder="SearchBox" class="required">
                        </div>
                        <div class="well">
                            <label for="PostalCode2"><span>Arrive at:</span></label>
                            <input type="text" id="PostalCode2"
                                   name="PostalCode2" class="required">
                        </div>
                        <div class="well">
                            <label for="occupancy"><span>Occupancy</span></label>
                            <input type="number" id="occupancy"
                                   name="occupancy" class="required">
                        </div>
                        <div class="well">
                            <label for="cost"><span>Cost</span></label>
                            <input type="number" id="cost"
                                   name="cost" class="required">
                        </div>
                        <!-- Fixed time -->
                        <div class="formRow well" id="fixedTimeSelectorContainer">
                            <input type="radio" name="timeModeSelector" value="fixedTimeRadio" id="fixedTimeRadio"
                                   checked="checked"/>
                            <label for="fixedTimeRadio"><span>From Monday to Friday I leave at:</span></label>
                            <p></p>
                            <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                   id="DriverDeptHourSame"
                                   name="DriverDeptHour"> &#58;
                            <select id="DriverDeptMinSame" name="DriverDeptMin">
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <span type="number" class="plus-minus-label">&plusmn;</span>
                            <select id="daytimetoleranceSame" name="TimeTolerance">
                                <option value="15" SELECTED>15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                            <span> mins</span>
                        </div>
                        <!--End of form_row div-->
                        <!-- Flexible time -->
                        <div class="formRow well">
                            <input type="radio" name="timeModeSelector" value="flexibleTimeRadio"
                                   id="flexibleTimeRadio"/>
                            <label for="flexibleTimeRadio"><span>My schedule is flexible:</span></label>
                            <table class="flexibleTimeSelectorContainer" id="flexibleTimeSelectorContainer"
                                   style="display: none;">
                                <tr>
                                    <td>
                                        <input type="checkbox" checked="checked" class="daytimecheck" id="day-sund"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label"><label for="day-sund">Sunday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHoursund" name="DriverDeptHour"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinsund" name="DriverDeptMin">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancesund" name="daytimetolerancesund">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-mon"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label"><label for="day-mon">Monday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHourmon" name="DriverDeptHour" disabled="disabled"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinmon" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancemon" name="daytimetolerancemon" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-tues"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label disabled"><label
                                                for="day-tues">Tuesday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    <td>
                                        <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHourtues" name="DriverDeptHour" disabled="disabled"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMintues" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancetues" name="daytimetolerancetues"
                                                disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-wednes"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label disabled"><label
                                                for="day-wednes">Wednesday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHourwednes" name="DriverDeptHour" disabled="disabled">
                                        &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinwednes" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancewednes" name="daytimetolerancewednes"
                                                disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-thurs"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label disabled"><label
                                                for="day-thurs">Thursday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHourthurs" name="DriverDeptHour" disabled="disabled"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinthurs" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancethurs" name="daytimetolerancethurs"
                                                disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-fri"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label disabled"><label for="day-Mon">Friday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHourfri" name="DriverDeptHour" disabled="disabled"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinfri" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancefri" name="daytimetolerancefri" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <input type="checkbox" class="daytimecheck" id="day-satur"/>
                                    </td>
                                    <td>
                                        <span class="daytime-label disabled"><label
                                                for="day-satur">Saturday</label></span>
                                    </td>
                                    <td>
                                        <span class="daytime-label">I leave at:</span>
                                    </td>
                                    <td>
                                        <input class="daytime-label" type="number" min="0" max="23" size="15"
                                               id="DriverDeptHoursatur" name="DriverDeptHour" disabled="disabled"> &#58;
                                    </td>
                                    <td>
                                        <select id="DriverDeptMinsatur" name="DriverDeptMin" disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span type="number" class="plus-minus-label">&plusmn;</span>
                                    </td>
                                    <td>
                                        <select id="daytimetolerancesatur" name="daytimetolerancesatur"
                                                disabled="disabled">
                                            <option value="15">15</option>
                                            <option value="30">30</option>
                                            <option value="45">45</option>
                                        </select>
                                    </td>
                                    <td>
                                        <span> mins</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--End of form_row div-->
                        <input type="hidden" name="dayTimePosted"/>
                    </div>

                    <div class="col-lg-7">
                        <div class="map-canvas"  style="height: 500px";>
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="formRow container">
            <div class="row">
                <!-- Left Section -->
                <div class="col-lg-5">
                    <button type="submit" class="btn btn-primary btn-info"
                            name="Submit" id="submitButton"
                            onclick="submitData()">
                        <span><-Submit this form-></span><span>&nbsp;</span>
                    </button>
                </div>
            </div>
        </div>
        <!--End of form_row div-->
        <input type="hidden" name="formToLoad" class="hidden" value="2">
</div>
</div>
</div>
</form>
</section>
<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script>
<!-- Modernizer -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Jquery -->
<script type="text/javascript" src="js/html5lightbox.js"></script>
<!-- HTML -->
<script type="text/javascript" src="js/scrolly.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/price-range.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/script.js"></script>
<!-- Script -->
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<!-- Date -->
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
<!-- Time -->
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery-validation/1.11.1/jquery.validate.js" type="text/javascript"></script>
<!-- Project -->
<script src="js/project.js" type="text/javascript"></script>
<!-- Google Map Api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATltk2TwkHYYTotz6t0lOs1YDOWNeZjX8&libraries=places&signed_in=true&callback=initMap"
        type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $('input[name=timeModeSelector]').change(function () {
            if ($(this).val() == 'flexibleTimeRadio') { //flexible time
                $('#radioFlag').val(2);
                $('#flexibleTimeSelectorContainer').show();
                $('#fixedTimeSelectorContainer').children('select').attr('disabled', 'disabled');
                $('#fixedTimeSelectorContainer').children('span').addClass('disabled');
                $('#fixedTimeSelectorContainer').children('input').attr('disabled');
            } else if ($(this).val() == 'fixedTimeRadio') { //fixed time
                $('#radioFlag').val(1);
                $('#flexibleTimeSelectorContainer').hide();
                $('#fixedTimeSelectorContainer').children('select').removeAttr('disabled', 'disabled');
                $('#fixedTimeSelectorContainer').children('span').removeClass('disabled');
                $('#fixedTimeSelectorContainer').children('input').removeAttr('disabled');
            }
        });
    });

    $('.daytimecheck').change(function () {
        if ($('.daytimecheck:checked').length == 0) {
            $(this).prop('checked', true);
            return;
        }
        if ($(this).is(':checked')) {
            $(this).parent().parent().find("select").each(function () {
                $(this).prop("disabled", false);
            });
            $(this).parent().parent().find("input[type='number']").prop("disabled", false);
        } else {
            $(this).parent().parent().find("select").each(function () {
                $(this).prop("disabled", true);
            });
            $(this).parent().parent().find("input[type='number']").prop("disabled", true);
        }
    });

    submitData = function () {
        var b = $("#new-route").valid();
        if (!b) {//验证没有通过
            return false;
        }
        //如果是固定时间取3个值
        if ($('#radioFlag').val() == 1) {
            var data = {
                "flag": $('#radioFlag').val(),
                "dayhour": $('#DriverDeptHourSame').val(),
                "daymin": $("#DriverDeptMinSame").val(),
                "daytimetlr": $("#daytimetoleranceSame").val(),
                "from":$('#from').val(),
                "departure": $('#PostalCode').val(),
                "to":$('#to').val(),
                "arrive": $('#PostalCode2').val(),
                "occupancy": $('#occupancy').val(),
                "cost": $('#cost').val()
            };
            $.ajax({
                url: '/routineBack',
                // data: $("form").serialize(),
                type: 'post',
                data: data,
                success: function (data, status) {
                    if (status == 'success') {
                        location.href = 'driverRoutes';
                    }
                },
                error: function (data, status) {
                    if (status == 'error') {
                        //                            location.href = 'createRoute';
                        alert("error");
                    }
                }
            });
        } else {
            //如果是自定义时间，取得勾选行的值
            var data = {
                "flag": $('#radioFlag').val(),
                "from":$('#from').val(),
                "departure": $('#PostalCode').val(),
                "to":$('#to').val(),
                "arrive": $('#PostalCode2').val(),
                "occupancy": $('#occupancy').val(),
                "cost": $('#cost').val()
            };
            $("#flexibleTimeSelectorContainer").find("input:checked").each(function () {
                var currday = $(this)[0].id.substr(4);
                var currdayhour = currday + "dayhour";
                var currdaymin = currday + "daymin";
                var currdaytimetlr = currday + "daytimetlr";
                data[currdayhour] = $("#DriverDeptHour" + currday).val(),
                        data[currdaymin] = $("#DriverDeptMin" + currday).val(),
                        data[currdaytimetlr] = $("#daytimetolerance" + currday).val()
            });
            $.ajax({
                url: '/routineBack',
                // data: $("form").serialize(),
                type: 'post',
                data: data,
                success: function (data, status) {
                    if (status == 'success') {
                        location.href = 'driverRoutes';
                        //alert("success");
                    }
                },
                error: function (data, status) {
                    if (status == 'error') {
                        //                            location.href = 'createRoute';
                        alert("error");
                    }
                }
            });
        }
    }

    $(document).ready(function () {
        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000, //revolution
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
        var res = $("#result").text();
        console.log(res);
        //var result = eval("(" + res + ")");
        var result = null;
        try{
            result = JSON.parse(res);
        }
        catch(e){
            console.log(e)
        }
        console.log("result" + result);
        if (result != null && result != undefined) {
            $("#radioFlag").val(result.flag);
            $("#from").val(result.from);
            $("#PostalCode").val(result.departure);
            $("#to").val(result.to);
            $("#PostalCode2").val(result.arrive);
            $("#occupancy").val(result.occupancy);
            $("#cost").val(result.cost);
            //根据flag让radio  checked
            //全部赋值
            //------------------------------flag=1d的赋值加一下

            //flag=2的赋值
            //$("#flexibleTimeRadio").attr('checked', true);没填的不能打钩，只有填了的才能打钩，现在写的是全打钩的
            if (result.flag == 1 && result.comeback == "back") {
                console.log("back yes");
                $("#fixedTimeRadio").attr('checked', true);
                $(DriverDeptHourSame).val(result.mon.dayhour);
                $(DriverDeptMinSame).val(result.mon.daymin);
                $(daytimetoleranceSame).val(result.mon.daytimetlr);
            }
            if (result.flag == 2 && result.comeback == "back") {
                $('#flexibleTimeSelectorContainer').show();
                $("#flexibleTimeRadio").attr('checked', true);
                var days = ["mon", "sund", "tues", "wednes", "thurs", "fri", "satur"];
                for (var i = 0; i < days.length; i++) {
                    var day = days[i];
                    if (result[day].weekday != "") {
                        $("#day-" + day).attr('checked', 'checked');

                        $("#day-" + day).parent().parent().find("select").each(function () {
                            $(this).prop("disabled", false);
                        });
                        $("#day-" + day).siblings('span').removeClass('disabled');
                        $("#day-" + day).parent().parent().find("input[type='number']").prop("disabled", false);

                        $("#DriverDeptHour" + day).val(result[day].dayhour);
                        $("#DriverDeptMin" + day).val(result[day].daymin);
                        $("#daytimetolerance" + day).val(result[day].daytimetlr);
                    }
                    if (result[day].weekday == "") {
                        $("#day-" + day).attr('checked', false);
                        $("#day-" + day).parent().parent().find("select").each(function () {
                            $(this).prop("disabled", true);
                        });
                        $("#day-" + day).siblings('span').addClass('disabled');
                        $("#day-" + day).parent().parent().find("input[type='number']").prop("disabled", true);
                    }
                }
            }
        }
    });
</script>
</body>

</html>
