<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ShareCar
    </title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.jpg"/>
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <!-- Style -->
    <!--  <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
    <!-- Responsive -->
    <link rel="stylesheet" href="/stylesheets/colors.css" type="text/css"/>
    <!-- color -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--Slides-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--Date-->
    <link rel='stylesheet' href='/stylesheets/datepicker.css'/>
    <!--Time-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-timepicker.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
    <!-- Header -->
    <header class="simple-header for-sticky white">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <ul class="contact-item">
                    <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                    <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
                </ul>
                <div class="choose-language">
                    <a href="#" title="">EN</a>
                    <a href="#" title="">CH</a>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <span>ShareCar</span>
                    <strong>CITY CARPOOL</strong>
                </div>
                <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                <nav>
                    <h1 class="nocontent outline">--- Main Navigation ---</h1>
                    <ul>
                        <li class="menu-item-has-children">
                            <a href="#" title="">HOME</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">ABOUT</a>
                            <ul>
                                <li><a href="#" title="">Overview</a></li>
                                <li><a href="#" title="">Q&A</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">SEARCH</a>
                        </li>
                        <li><a href="#" title="">CONTACT</a></li>
                        <li><a href="#" title=""><strong>Welcome, <%- user.name %></strong></a></li>
                        <li>
                            <a href="/logout" title="">
                                <span><i class="fa fa-sign-out "></i> logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <form style="background:#fbf9f9;border:1px solid #c3c2c2;margin:0 0 20px;padding:15px 20px;"
          name="RouteAdvancedSearch">
        <div style="margin:0 auto;position:relative;width:400px;z-index:300;">
            <div style="padding:0;margin:35px 0 10px;">
                <label for="DriverDeptDate"
                       style="color:#444444;display:block;font-size:13px;font-weight:600;line-height:normal;">Search
                    Date: </label>
                <input id="DriverDeptDate" type="text"
                       style="background-color:#ffffff;border:1px solid #c3c2c2;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#333333;font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;height:34px;line-height:16px;margin:0;padding:0 6px;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;width:150px;"
                       value="<%=routedate%>" class="datepicker">
                <script>
                    $(function () {
                        $('#DriverDeptDate').datepicker({});
                    });
                </script>
            </div>
            <div style="padding:0;margin:35px 0 10px;">
                <div style="float:left;margin:0 10px 0 0;position:relative;z-index:300;">
                    <label for="PostalCode"
                           style="color:#444444;display:block;font-size:13px;font-weight:600;line-height:normal;">From: </label>
                    <input id="PostalCode" type="text"
                           style="background-color:#ffffff;border:1px solid #c3c2c2;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#333333;font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;height:34px;line-height:16px;margin:0;padding:0 6px;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;width:150px;"
                           value="<%=routedep%>">
                    <div class="hint"><em style="color:#666666;font-size:11px;font-style:italic;">zip (ex:A0AB0B)</em>
                    </div>
                </div>
            </div>
            <div style="padding:0;margin:35px 0 10px;">
                <label for="PostalCode2"
                       style="color:#444444;display:block;font-size:13px;font-weight:600;line-height:normal;">To: </label>
                <input id="PostalCode2" type="text"
                       style="background-color:#ffffff;border:1px solid #c3c2c2;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#333333;font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;height:34px;line-height:16px;margin:0;padding:0 6px;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;width:150px;"
                       value="<%=routearr%>">
                <div class="hint"><em style="color:#666666;font-size:11px;font-style:italic;">zip (ex:A0AB0B)</em></div>
            </div>
            <div style="padding:0;margin:35px 0 10px;">
                <div style="float:left;margin:0 10px 0 0;position:relative;z-index:300;">
                    <label for="DriverDeptTime"
                           style="color:#444444;display:block;font-size:13px;font-weight:600;line-height:normal;">Hour: </label>
                    <input id="DriverDeptTime" type="number"
                           style="background-color:#ffffff;border:1px solid #c3c2c2;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#333333;font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;height:34px;line-height:16px;margin:0;padding:0 6px;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;width:150px;"
                           value="" min="0" max="23"> &#58;
                </div>
            </div>
            <div style="padding:0;margin:35px 0 10px;">
                <label for="DriverDeptMin"
                       style="color:#444444;display:block;font-size:13px;font-weight:600;line-height:normal;">Min: </label>
                <select id="DriverDeptMin" type="number"
                        style="background-color:#ffffff;border:1px solid #c3c2c2;-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);color:#333333;font-family:&quot;Open Sans&quot;,sans-serif;font-size:14px;height:34px;line-height:16px;margin:0;padding:0 6px;-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;width:150px;"
                        value="">
                    <option selected disabled>Choose here</option>
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
            <button type="button" style="width: 100px;" class="btn btn-primary btn-block" id="search">SEARCH</button>
        </div>
    </form>
    <section>
        <h1>Rider side</h1>
    </section>
    <section>
        <div class="container">
            <table class="table table-hover" id="rideTable" width="70%">
                <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                </tr>
                </thead>
                <tbody id="routeInfoBody">
                <% if(driverroute){%>
                <% for (var i =0; i< driverroute.length;i++){%>
                <tr>
                    <td class="searchtime">
                        <img src="images/blueArrow.jpg">
                        <br>
                        <%=driverroute[i].dridate%>
                    </td>
                    <td>
                        <div class="searchdeparture">
                            <strong><%=driverroute[i].pcode%></strong>
                        </div>
                    </td>
                    <td>
                        <div class="searchdestination"><span class="itineraryArrowInt3"></span>
                            <strong><%=driverroute[i].drimin%></strong>
                        </div>
                    </td>
                    <td class="seatsAvailability">
                        <div class="itineraryPrice">
                            <p><a class="titleBubble" href="#" title="Prix du conducteur"><%=driverroute[i].cost%></a>
                                <br>
                                <% for (var j =0; j< driverroute[i].occupied;j++){%>
                                <img src="images/whiteMan.jpg" alt="White Man" class="whiteMan">
                                <%}%>
                                <% for (var j =0; j< driverroute[i].occupancy;j++){%>
                                <img src="images/whiteMan.jpg" alt="white Man" class="whiteMan">
                                <%}%>
                            </p>
                        </div>
                    </td>
                    <td class="stars">
                        <div class="rideIcons">
                            <p>
                                <a class="titleBubble" title="">
                                    <span class='nbReviews'>(No evaluation)</span> </a>
                            </p>
                        </div>
                        <p class="nbReviews">(0)</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary btn-lg" data-dridate="<%=driverroute[i].dridate%>"
                                data-pcode="<%=driverroute[i].pcode%>" data-pcode2="<%=driverroute[i].pcode2%>"
                                data-drihour="<%=driverroute[i].drihour%>" data-drimin="<%=driverroute[i].drimin%>"
                                data-toggle="modal" name="checkRoute" data-target="#checkRoute"
                                data-id="<%= driverroute[i]._id%>">
                            Check
                        </button>
                    </td>
                </tr>
                >
                <%}%>
                <%}%>

                </tbody>
            </table>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="checkRoute" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Route Info</h4>
                </div>
                <div class="modal-body">
                    <span id="checkRoute_date"></span>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="sendmessage" class="btn btn-primary">Send my message</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div id="ss" hidden="hidden">
            Body 1
        </div>
    </section>
</div>
<div class="container">
    <nav>
        <ul class="pagination">
            <%
            if(pageNum!=1){
            %>
            <li>
                <a href="/searchRoute?pageNum=<%=(pageNum-1)%>&pageSize=<%=pageSize%>&routedate=<%=routedate%>&routearr=<%=routearr%>&routedep=<%=routedep%>"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <%}%>
            <%
            for(var i=0;i< totalPage;i++){
            %><%
            if((i+1)==pageNum){
            %>
            <li class="active"><a
                    href="/searchRoute?pageNum=<%=(i+1)%>&pageSize=<%=pageSize%>&routedate=<%=routedate%>&routearr=<%=routearr%>&routedep=<%=routedep%>"><%=(i+1)%></a>
            </li>
            <%}else{%>
            <li><a href="/searchRoute?pageNum=<%=(i+1)%>&pageSize=<%=pageSize%>&routedate=<%=routedate%>&routearr=<%=routearr%>&routedep=<%=routedep%>"><%=(i+1)%></a>
            </li>
            <%}%>
            <%}%>
            <%
            if(pageNum!=totalPage){
            %>
            <li>
                <a href="/searchRoute?pageNum=<%=(pageNum+1)%>&pageSize=<%=pageSize%>&routedate=<%=routedate%>&routearr=<%=routearr%>&routedep=<%=routedep%>"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <%}%>
        </ul>
    </nav>
    <!--End of form_row div-->
</div>

<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script>
<!-- Modernizer -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Jquery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="js/html5lightbox.js"></script>
<!-- HTML -->
<script type="text/javascript" src="js/scrolly.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/price-range.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/script.js"></script>
<!-- Script -->
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<!-- Date -->
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
<!-- Time -->
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#search").click(function () {
            console.log("get into search ajax");
            var routedate = $('#DriverDeptDate').val();
            var routedeparture = $('#PostalCode').val();
            var routedestination = $('#PostalCode2').val();
            var routehour = $('#DriverDeptTime').val();
            var routemin = $('#DriverDeptMin').val();
            var searchLink = "/searchRoute?";
            var time = Number(routehour) * 3600 + Number(routemin) * 60;

            if (routedate != "") {
                console.log(routedate);
                searchLink = searchLink + "&routedate=" + routedate;
                console.log(searchLink)
            }
            if (routedeparture != "") {
                searchLink = searchLink + "&pcode=" + routedeparture;
                console.log(searchLink)
            }
            if (routedestination != "") {
                searchLink = searchLink + "&pcode2=" + routedestination;
                console.log(searchLink)
            }
            if (time != "" && time != 0) {
                searchLink = searchLink + "&mintime=<=" + time;
                searchLink = searchLink + "&maxtime=>=" + time;
                console.log(searchLink)
            }
            window.location.href = searchLink;
        });
    });

    $(document).ready(function () {
        var currentMessage;
        function bindShowEvent() {
            $('#checkRoute').on('show.bs.modal', function (event) {
                //$(this).removeClass('modal-backdrop');
                //Now set z-index of modal greater than backdrop
                //ajax here
                var button = $(event.relatedTarget)
                var modal = $(this)
                modal.find('.modal-title').text('Route Info');
                setTimeout(function () {
                    modal.find('.modal-backdrop').remove();
                }, 200);
               // currentMessage = button.attr("data-id");
                currentMessage = button.attr("data-id");
                console.log(currentMessage);
                $(this).off('show.bs.modal');
            });
        }
        bindShowEvent();

        $('#checkRoute').on('hide.bs.modal', function(event) {
            bindShowEvent();
        })

        $("#routeInfoBody").click(function (event) {
            var ev = event || window.event;
            var target = ev.target || ev.srcElement;
            console.log(target);
            if (target.nodeName.toLowerCase() == "button") {
                var at = $(target).attr("name");
                if (at == "checkRoute") {
                    var dridate = $(target).data("dridate");
                    var pcode = $(target).data("pcode");
                    $("#checkRoute_date").html("<strong>"+"Date"+"<br>"+"</strong>"+dridate+"<br>"+"<br>"+"<strong>"+"Departure Place"+"</strong>"+"<br>"+pcode+"<br>");

                }

            }
        });


        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000, //revolution
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
    });
</script>
</body>

</html>
