<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ShareCar
    </title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.jpg"/>
    <!-- Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css"/>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <!-- Style -->
    <!--  <link rel="stylesheet" href="css/responsive.css" type="text/css" /> -->
    <!-- Responsive -->
    <link rel="stylesheet" href="/stylesheets/colors.css" type="text/css"/>
    <!-- color -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--Slides-->
    <!--Date-->
    <link rel='stylesheet' href='/stylesheets/datepicker.css'/>
    <!--Time-->
    <link rel='stylesheet' href='/stylesheets/bootstrap-timepicker.min.css'/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<!-- /.preloader -->
<div id="preloader"></div>
<div class="theme-layout">
    <!-- Header -->
    <header class="simple-header for-sticky white">
        <!-- Top bar -->
        <div class="top-bar">
            <div class="container">
                <ul class="contact-item">
                    <li><i class="fa fa-envelope-o"></i>yourcompnay@email.com</li>
                    <li><i class="fa fa-mobile"></i>+1 333 44 555 / +1 333 44 500</li>
                </ul>
                <div class="choose-language">
                    <a href="#" title="">EN</a>
                    <a href="#" title="">CH</a>
                </div>
            </div>
        </div>
        <div class="menu">
            <div class="container">
                <!-- LOGO -->
                <div class="logo">
                    <span>ShareCar</span>
                    <strong>CITY CARPOOL</strong>
                </div>
                <span class="menu-toggle"><i class="fa fa-bars"></i></span>
                <nav>
                    <h1 class="nocontent outline">--- Main Navigation ---</h1>
                    <ul>
                        <li>
                            <a href="/home" title="">HOME</a>
                        </li>
                        <li>
                            <a href="#" title="">ABOUT</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#" title="">SEARCH</a>
                            <ul>
                                <li><a href="/searchRoute" title="">Route</a></li>
                                <li><a href="#" title="">Home v2</a></li>
                            </ul>
                        </li>
                        <li><a href="#" title=""><strong>Welcome, <%- user.name %></strong></a></li>
                        <li>
                            <a href="/logout" title="">
                                <span><i class="fa fa-sign-out "></i> logout</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
<section>
    <div class="row" style="background:#fbf9f9;border:1px solid #c3c2c2;">
        <div class="col-md-2 col-md-offset-5">
            <form id="search-route" name="search-route" class="form-group" role="form"
            >
                <div class="row">
                    <div class="col-md-6"><label for="departure"><span>Leave from:</span></label>
                        <input type="text" id="departure"
                               name="departure" value="<%=departure%>" class="required">
                    </div>
                    <div class="col-md-6" style="margin-right:1px;"><label for="arrive"><span>Arrive at:</span></label>
                        <input type="text" id="arrive"
                               name="arrive" value="<%=arrive%>" class="required"></div>
                </div>
                <!-- Fixed time -->
                <div class="formRow" id="fixedTimeSelectorContainer">
                    <input type="radio" name="timeModeSelector" value="fixedTimeRadio" id="fixedTimeRadio"
                           checked="checked"/>
                    <label for="fixedTimeRadio"><span>From Monday to Friday I leave at:</span></label>
                    <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                           id="DriverDeptHourSame"
                           name="DriverDeptHour" value="<%=dayhour%>"> &#58;
                    <!--<input class="daytime-label disabled" type="number" min="0" max="59" size="15"-->
                    <!--id="DriverDeptMinSame"-->
                    <!--name="DriverDeptMin">-->
                    <select id="DriverDeptMinSame" name="DriverDeptMin">
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <!--<option selected="selected">value="<%=daymin%>"</option>-->
                    </select>
                </div>
                <!--End of form_row div-->
                <!-- Flexible time -->
                <div class="formRow">
                    <input type="radio" name="timeModeSelector" value="flexibleTimeRadio" id="flexibleTimeRadio"/>
                    <label for="flexibleTimeRadio"><span>My schedule is flexible:</span></label>
                    <table class="flexibleTimeSelectorContainer" id="flexibleTimeSelectorContainer"
                           style="display: none;">
                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" checked="checked" id="day-sund"/>
                            </td>
                            <td>
                                <span class="daytime-label"><label for="day-sund">Sunday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHoursund" name="DriverDeptHour"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinsund" name="DriverDeptMin">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-mon"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-mon">Monday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHourmon" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinmon" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-tues"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-tues">Tuesday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            <td>
                                <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHourtues" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMintues" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-wednes"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-wednes">Wednesday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHourwednes" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinwednes" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-thurs"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-thurs">Thursday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHourthurs" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinthurs" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-fri"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-Mon">Friday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label disabled" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHourfri" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinfri" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="checkbox" class="daytimecheck" id="day-satur"/>
                            </td>
                            <td>
                                <span class="daytime-label disabled"><label for="day-satur">Saturday</label></span>
                            </td>
                            <td>
                                <span class="daytime-label">I leave at:</span>
                            </td>
                            <td>
                                <input class="daytime-label" type="number" min="0" max="23" size="15"
                                       id="DriverDeptHoursatur" name="DriverDeptHour" disabled="disabled"> &#58;
                            </td>
                            <td>
                                <select id="DriverDeptMinsatur" name="DriverDeptMin" disabled="disabled">
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <button type="button" style="width: 100px;" class="btn btn-primary btn-block" id="search">SEARCH
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <% if(routine){%>
        <%for(var i=0;i
        <routine.length ;i++){%>
            <div class="col-md-4">
                <div class="col-sm-2"></div>
                <div class="list-group col-sm-8" style="padding-top:20px">
                    <li class="list-group-item list-group-item-success">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Departure Area:
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].departure%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Arrive Area:
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].arrive%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Occupancy:
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].occupancy%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Occupied:
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].occupied%>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Cost:
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].cost%>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Sunday:
                            </div>
                            <%if(routine[i].sund.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].sund.dayhour%>&#58;<%=routine[i].sund.daymin%> &plusmn;
                                <%=routine[i].sund.daytimetlr%>
                            </div>
                            <%}%>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Monday:
                            </div>
                            <%if(routine[i].mon.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].mon.dayhour%>&#58;<%=routine[i].mon.daymin%> &plusmn;
                                <%=routine[i].mon.daytimetlr%>
                            </div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Tuesday:
                            </div>
                            <%if(routine[i].tues.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].tues.dayhour%>&#58;<%=routine[i].tues.daymin%> &plusmn;
                                <%=routine[i].tues.daytimetlr%>
                            </div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Wednesday:
                            </div>
                            <%if(routine[i].wednes.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].wednes.dayhour%>&#58;<%=routine[i].wednes.daymin%> &plusmn;
                                <%=routine[i].wednes.daytimetlr%>
                            </div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Thursday:
                            </div>
                            <%if(routine[i].thurs.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].thurs.dayhour%>&#58;<%=routine[i].thurs.daymin%> &plusmn;
                                <%=routine[i].thurs.daytimetlr%>
                            </div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Friday:
                            </div>
                            <%if(routine[i].fri.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].fri.dayhour%>&#58;<%=routine[i].fri.daymin%> &plusmn;
                                <%=routine[i].fri.daytimetlr%>
                            </div>
                            <%}%>
                        </div>

                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                Saturday:
                            </div>
                            <%if(routine[i].satur.weekday!=""){%>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <%=routine[i].satur.dayhour%>&#58;<%=routine[i].satur.daymin%> &plusmn;
                                <%=routine[i].satur.daytimetlr%>
                            </div>
                            <%}%>
                        </div>
                        </br>
                        <!--<div class="row">-->
                        <!--<div class="col-lg-5 col-md-5 col-sm-5">-->
                        <!--<h5>Matching:</h5>-->
                        <!--</div>-->
                        <!--<div class="col-lg-5 col-md-5 col-sm-5">-->
                        <!--<h4><span class="label label-info">85%</span></h4>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-5"></div>
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-toggle="modal" name="checkRoutine" data-target="#checkRoutine"
                                    data-id="<%= routine[i]._id%>">Choose
                            </button>
                            <!--<button type="button" class="btn btn-success btn-sm">小型button</button>-->
                        </div>
                    </li>
                </div>
            </div>
            <%}%>
            <%}%>
            <!--<div class="col-md-4">.col-md-4</div>-->
            <!--<div class="col-md-4">.col-md-4</div>-->
    </div>
</section>
<div class="modal fade" id="checkRoutine" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Verify this routine</h4>
            </div>
            <div class="modal-body">
                <h5>Passenger Number</h5>
                <input type="number" min="1" max="10" size="15" id="passengernum" name="passengernum">
            </div>
            <div class="modal-footer">
                <button type="submit" id="sendmessage" class="btn btn-primary">Send my message</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Script -->
<script type="text/javascript" src="js/modernizr.js"></script>
<!-- Modernizer -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- Jquery -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="js/html5lightbox.js"></script>
<!-- HTML -->
<script type="text/javascript" src="js/scrolly.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/price-range.js"></script>
<!-- Parallax -->
<script type="text/javascript" src="js/script.js"></script>
<!-- Script -->
<script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
<!-- Date -->
<script type="text/javascript" src="js/bootstrap-timepicker.min.js"></script>
<!-- Time -->
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery-validation/1.11.1/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('input[name=timeModeSelector]').change(function () {
            if ($(this).val() == 'flexibleTimeRadio') { //flexible time
                $('#radioFlag').val(2);
                $('#flexibleTimeSelectorContainer').show();
                $('#fixedTimeSelectorContainer').children('select').attr('disabled', 'disabled');
                $('#fixedTimeSelectorContainer').children('span').addClass('disabled');
                $('#fixedTimeSelectorContainer').children('input').attr('disabled');
            } else if ($(this).val() == 'fixedTimeRadio') { //fixed time
                $('#radioFlag').val(1);
                $('#flexibleTimeSelectorContainer').hide();
                $('#fixedTimeSelectorContainer').children('select').removeAttr('disabled', 'disabled');
                $('#fixedTimeSelectorContainer').children('span').removeClass('disabled');
                $('#fixedTimeSelectorContainer').children('input').removeAttr('disabled');
            }
        });
    });

    $('.daytimecheck').change(function () {
        if ($('.daytimecheck:checked').length == 0) {
            $(this).prop('checked', true);
            return;
        }
        if ($(this).is(':checked')) {
            $(this).parent().parent().find("select").each(function () {
                $(this).prop("disabled", false);
            });
            $(this).parent().parent().find("input[type='number']").prop("disabled", false);
        } else {
            $(this).parent().parent().find("select").each(function () {
                $(this).prop("disabled", true);
            });
            $(this).parent().parent().find("input[type='number']").prop("disabled", true);
        }
    });

    $("#search").click(function () {
        var b = $("#search-route").valid();
        if (!b) {//验证没有通过
            return false;
        }
        console.log("get into search routine ajax");
        var departure = $('#departure').val();
        var arrive = $('#arrive').val();
        var dayhour = $('#DriverDeptHourSame').val();
        var daymin = $('#DriverDeptMinSame').val();

        var dayhoursatur = $('#DriverDeptHoursatur').val();
        var dayminsatur = $('#DriverDeptMinsatur').val();

        var dayhoursund = $('#DriverDeptHoursund').val();
        var dayminsund = $('#DriverDeptMinsund').val();

        var dayhourmon = $('#DriverDeptHourmon').val();
        var dayminmon = $('#DriverDeptMinmon').val();

        var dayhourtues = $('#DriverDeptHourtues').val();
        var daymintues = $('#DriverDeptMintues').val();

        var dayhourwednes = $('#DriverDeptHourwednes').val();
        var dayminwednes = $('#DriverDeptMinwednes').val();

        var dayhourthurs = $('#DriverDeptHourthurs').val();
        var dayminthurs = $('#DriverDeptMinthurs').val();

        var dayhourfri = $('#DriverDeptHourfri').val();
        var dayminfri = $('#DriverDeptMinfri').val();

        var searchLink = "/searchRoutine?";
//            var time = Number(routehour) * 3600 + Number(routemin) * 60;
        if (document.getElementById("fixedTimeRadio").checked) {
            //alert("fix");
            searchLink = searchLink + "&departure=" + departure + "&arrive=" + arrive;
            console.log(searchLink)
            if (dayhour != "") {
                searchLink = searchLink + "&dayhour=" + dayhour + "&daymin=" + daymin;
                console.log(searchLink);
                searchLink = searchLink + "&radio=1";
            }
        } else if (document.getElementById("flexibleTimeRadio").checked) {
            //alert("flexibleTimeRadio");
            searchLink = searchLink + "departure=" + departure + "&arrive=" + arrive;
            searchLink = searchLink + "&radio=2";
            console.log(searchLink)
            if (dayhoursund != "") {
                searchLink = searchLink + "&dayhoursund=" + dayhoursund;
                console.log(searchLink)
            }
            if (dayminsund != "" && document.getElementById("day-sund").checked) {
                searchLink = searchLink + "&dayminsund=" + dayminsund;
                console.log(searchLink)
            }

            if (dayhourmon != "") {
                searchLink = searchLink + "&dayhourmon=" + dayhourmon;
                console.log(searchLink)
            }
            if (dayminmon != "" && document.getElementById("day-mon").checked) {
                searchLink = searchLink + "&dayminmon=" + dayminmon;
                console.log(searchLink)
            }

            if (dayhourtues != "") {
                searchLink = searchLink + "&dayhourtues=" + dayhourtues;
                console.log(searchLink)
            }
            if (daymintues != "" && document.getElementById("day-tues").checked) {
                searchLink = searchLink + "&daymintues=" + daymintues;
                console.log(searchLink)
            }

            if (dayhourwednes != "") {
                searchLink = searchLink + "&dayhourwednes=" + dayhourwednes;
                console.log(searchLink)
            }
            if (dayminwednes != "" && document.getElementById("day-wednes").checked) {
                searchLink = searchLink + "&dayminwednes=" + dayminwednes;
                console.log(searchLink)
            }

            if (dayhourthurs != "") {
                searchLink = searchLink + "&dayhourthurs=" + dayhourthurs;
                console.log(searchLink)
            }
            if (dayminthurs != "" && document.getElementById("day-thurs").checked) {
                searchLink = searchLink + "&dayminthurs=" + dayminthurs;
                console.log(searchLink)
            }

            if (dayhourfri != "") {
                searchLink = searchLink + "&dayhourfri=" + dayhourfri;
                console.log(searchLink)
            }
            if (dayminfri != "" && document.getElementById("day-fri").checked) {
                searchLink = searchLink + "&dayminfri=" + dayminfri;
                console.log(searchLink)
            }

            if (dayhoursatur != "") {
                searchLink = searchLink + "&dayhoursatur=" + dayhoursatur;
                console.log(searchLink)
            }
            if (dayminsatur != "" && document.getElementById("day-satur").checked) {
                searchLink = searchLink + "&dayminsatur=" + dayminsatur;
                console.log(searchLink)
            }

        }
        window.location.href = searchLink;
    });


    $(document).ready(function () {
        var currentRoutine;

        function bindShowEvent() {
            $('#checkRoutine').on('show.bs.modal', function (event) {
                //$(this).removeClass('modal-backdrop');
                //Now set z-index of modal greater than backdrop
                //ajax here
                var button = $(event.relatedTarget)
                var modal = $(this)
                modal.find('.modal-title').text('Verify this routine');
                setTimeout(function () {
                    modal.find('.modal-backdrop').remove();
                }, 200);
                // currentMessage = button.attr("data-id");
                currentRoutine = button.attr("data-id");
                console.log(currentRoutine);
                $(this).off('show.bs.modal');
            });
        }

        $("#sendmessage").click(function () {
            console.log("get into send routine message");
            var passenger = $("#passengernum").val();
            var routineId = currentRoutine;
            var data = {
                "passenger": passenger,
                "routineId": routineId
            }
            $.ajax({
                url: '/searchRoutine/updateRoutine',
                // data: $("form").serialize(),
                type: 'post',
                data: data,
                success: function (data, status) {
                    if (status == 'success') {
                        //location.href = 'home';
                        location.reload();
                    }
                },
                error: function (data, status) {
                    if (status == 'error') {
                        location.href = 'searchRoutine';
                    }
                }
            });
        })

        bindShowEvent();
        $('#checkRoutine').on('hide.bs.modal', function (event) {
            bindShowEvent();
        })
        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000, //revolution
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });
        var radio = "<%=radio%>";
        var daymin = "<%=daymin%>";
        var dayhour = "<%=dayhour%>";
        var dayhoursund = "<%=dayhoursund%>";
        var dayminsund = "<%=dayminsund%>";
        var dayhourmon = "<%=dayhourmon%>";
        if (radio == "1") {
            $(fixedTimeRadio).attr('checked', 'checked');
            var t1 = document.getElementById("DriverDeptMinSame");
            for (i = 0; i < t1.length; i++) {//给select赋值
                if (daymin == t1.options[i].value) {
                    t1.options[i].selected = true
                }
            }
            document.getElementById("DriverDeptHourSame").value = dayhour;
        }
        if (radio == "2") {
            $(flexibleTimeRadio).attr('checked', 'checked');
            $(flexibleTimeSelectorContainer).show();
            //var days = ["sund","mon", "tues", "wednes", "thurs", "fri", "satur"];
            //console.log("weishen"+dayhoursund);
            //console.log(typeof dayhoursund);
            if (dayhoursund != null) {
                document.getElementById("DriverDeptHoursund").value = dayhoursund;
                $("#day-sund").attr('checked', 'checked');
                $(DriverDeptHoursund).prop("disabled", false);
                $(DriverDeptMinsund).prop("disabled", false);
                var t1 = document.getElementById("DriverDeptMinsund");
                for (i = 0; i < t1.length; i++) {//给select赋值
                    if (dayminsund == t1.options[i].value) {
                        t1.options[i].selected = true
                    }
                }
            }
            if (dayhourmon != null) {
                document.getElementById("DriverDeptHourmon").value = dayhourmon;
                $("#day-mon").attr('checked', 'checked');
                $(DriverDeptHourmon).prop("disabled", false);
                $(DriverDeptMinmon).prop("disabled", false);
            }
        }
    });
</script>
</body>

</html>