<html>
	<head>Titile</head>
	
	<body>
		Test page for Tony.
		<form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false">
                
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" id="click_sample">Click me</button>
                            </div>
                
        </form>
<div class="has-success">
  <div class="checkbox">
    <label>
      <input type="checkbox" id="checkboxSuccess" value="option1">
      Checkbox with success
    </label>
  </div>
</div>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(function() {
	$("#register0").click(function() {
		location.href = 'register';
	});
	$("#click_sample").click(function() {
//		var query = require('url').parse(req.url,true).query;
		var value = "hello";//query.key;
		alert(value);
		return;
		var data = {
			"key": "Tony-value",
		};
		$.ajax({
			url: '/login',
			type: 'post',
			data: data,
			success: function(data, status) {
				if (status == 'success') {
					location.href = 'home';
				}
			},
			error: function(data, status) {
				if (status == 'error') {
					location.href = 'login';
				}
			}
		});
	});
});
</script>
	</body>
	

</html>